.App {
  text-align: center;
  background-color:lightblue;
  color: red;
  padding-bottom: 5%;
  padding-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

.marginOne{
    margin: 5vw;
    border: solid 4px black;
}

.formOne{
    margin-top: 1vw;
    margin-bottom: 8vw;
}



.top {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: deepskyblue;
    border-radius: 10px;
    width: 50%;
    padding: .0001vw 0;
    font-size: 1.9em;
    font-family: serif;
}